.wrapper{
   flex-basis: 75vw;
   padding-left: 40px;
   padding-right: 80px;
   background-color: #f5f6f9;
}
.daysWrapper{
   display: flex;
   justify-content: space-evenly;
   height: 100%;
}
.title{
   margin: 0;
   font-weight: 900;
   margin-top: 20px;
   margin-bottom: 10px;
   font-size: 35px;
}