.wrapper{
   padding-left: 40px;
   display: flex;
   flex-direction: column;
   padding-right: 80px;
   background-color: #f5f6f9;
   width: calc(100% - 300px);
}
.daysWrapper{
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   overflow-x: auto;
   flex-wrap: wrap;
   width: 100%;
   height: calc(100vh - 298px);
}
.title{
   margin: 0;
   font-weight: 900;
   margin-top: 20px;
   margin-bottom: 10px;
   font-size: 35px;
}