.wrapper{
   flex-grow: 6;
   background-color: #ebeef8;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.form{
   display: flex;
   flex-direction: column;
   height: 100%;
}

.title{
   color: #a7aec0;
   margin-top: 30px;
   margin-bottom: 30px;
}

.input{
   background-color: #e2e6fa;
   border: none;
   outline: none;
   width: 150px;
   height: 35px;
   color: #757f8f;
   margin-bottom: 30px;
}


.button {
   padding: 0px;
   height: 25px;
   color: #3c56a5;
   background-color: #ebeef8;
   outline: none;
   border: none;
   text-transform: capitalize;
}
.button:hover{
   cursor: pointer;
}
.exercise_list_wrapper{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin-top: 40px;
   height: 100%;
   width: 98%;
   border: 1px solid #fff;
}
.exercise {
   border: 0.5px dashed #fff;
   
}

.text{
   text-transform: capitalize;
   margin: 0;
}