.wrapper{
   position: absolute;
   top: calc(50% - 125px);
   left: calc(50% - 175px);
   width: 350px;
   height: 250px;
   border: 1px solid grey;
   background-color: white;
   overflow: hidden;
}

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   background-color: rgba(0,0,0,0.7);
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
}

.input {
   background-color: #f5f6f9;
   border-radius: 8px;
   border: none;
   outline: none;
   width: 130px;
   height: 25px;
   color: black;
   margin-bottom: 30px;
   padding: 4px;
   border: 1px solid rgba(255, 255, 255, 0.527);
}

.button {
   width: 40%;
   height: 10%;
   padding: 8px;
   background-color: #3c56a5;
   color: white;
   border-radius: 8px;
   outline: none;
   cursor: pointer;
   transition: all .3s;
   border: 2px solid #3c56a5;
}

.button:hover {
   background-color: #1b3174;
   border: 2px solid #0a1842;
}